<div class="col-md-12 text-center mt-15">
  © 2015 <a href="http://www.qwinixtech.com" target="_blank">All rights reserved - Qwinix Technologies </a> | 
  <%= link_to "Backdoor", backdoor_url unless Rails.env.production? %>
</div>