<%= theme_heading("Backdoor") %>

<div class="row mb-10">
	<div class="col-sm-3">
		<%= theme_search_form(User, backdoor_path) %>
	</div>
	<div class="col-sm-6">
		
  </div>
</div>

<div class="row">
	<div id="div_user_index" class="col-sm-12">
		<%= render :partial=>"index" %>
	</div>
</div>