<%# Displays list of @departments %>
<% @departments.each do |department| %>
	<div id="div_department_<%= department.id %>">
		<%= render :partial=>"item", :locals=>{:department=>department} %>
	</div>
<% end %>
<%= theme_panel_message(I18n.translate("forms.no_results")) if @departments.blank? %>

<%= theme_paginate(@departments) %>
