<div class="panel panel-default media p-5">
  <div class="media-body pl-10">
    <%= theme_item_title(department.name, admin_department_path(department)) %>
    <%= theme_item_description(department.description, 120) %>
  </div>

</div>


