<html>
<body>
	<p>
		Hi <%= @user.name %>,
	</p>
	<br>
	<p>
		Click the link below to reset you account password.
		<br>
		<%= link_to 'Click here to reset your password', reset_password_form_url(@user) %>
	</p>

	<p>
		<br>
		If you have any questions, please contact us at <a href="http://q-auth.qwinixtech.com/">qwinixtech.com</a><br>
	</p>

	<p>
		<br>
		Thank you<br>
		Qwinix Team
	</p>


	<p style="color: #888">
		<br>
		-- DISCLAIMER: This email (including any attachments) may contain confidential, proprietary and privileged information, and unauthorized disclosure or use is prohibited. If you have received this email in error,please notify the sender and delete this email from your system. Thank you.
		<br>
	</p>

</body>
</html>