<div class="panel panel-default panel-bordered panel-420 p-20">

  <%= image_tag("/assets/q-auth-220px.png", class: "centered", alt: "Q-Auth Logo") %>

  <hr/>

  <%= render partial: "public/user_sessions/sign_in_form" %>

</div>

<div class="cl"></div>


