<%# Displays list of @designations %>
<% @designations.each do |designation| %>
	<div id="div_designation_<%= designation.id %>">
		<%= render :partial=>"item", :locals=>{:designation=>designation} %>
	</div>
<% end %>
<%= theme_panel_message(I18n.translate("forms.no_results")) if @designations.blank? %>

<%= theme_paginate(@designations) %>
