<div class="panel panel-default media p-5">
  <div class="media-body pl-10">
    <%= theme_item_title(designation.title, admin_designation_path(designation)) %>
    <%= theme_item_description(designation.responsibilities, 120) %>
  </div>

</div>


