<div id="designation">
  <h4>Designation API</h4>
  <p>This API will return the details of a particular designation. Pass the id as a parameter.</p>
  <p>URL: <code>GET /api/v1/designations/:id</code></p>
  <p>Sample Response: <code><%= link_to "Click Here to toggle", "#designation", :onclick=>"$('#sr-de').toggle()" %></code></p>
  <pre id='sr-de' style="display: none;">
    {
      "success": true,
      "data": {
          "id": 15,
          "title": "Junior Software Developer",
          "responsibilities": "The primary responsibility of the Junior Software Developer is design, development, delivery, and enhancement of software products, systems and platforms."
        }
    }
  </pre>

</div>