<div id="my_profile">
  <h4>My Profile API</h4>
  <p>This API will accept the auth token and will return the user profile information including department, designation and profile image url.</p>
  <p>URL: <code>GET /api/v1/my_profile</code></p>
  <p>Header: <code>auth_token</code></p>
  <p>Sample Response: <code><%= link_to "Click Here to toggle", "#my_profile", :onclick=>"$('#sr-mp').toggle()" %></code></p>
  <pre id='sr-mp' style="display: none;">
    {
      "success": true,
      "alert": "You have successfully logged in",
      "data": {
          "id": 10,
          "name": "Krishnaprasad Varma",
          "username": "kvarma",
          "email": "kvarma@qwinixtech.com",
          "biography": null,
          "phone": "9880181181",
          "skype": "kpvarma27",
          "linkedin": "krishnaprasadvarma",
          "city": "Mysore",
          "state": "Karnataka",
          "country": "India",
          "auth_token": "7d85dae46933e332324b5cbbc0cdb19f",
          "user_type": "super_admin",
          "profile_image_url": "/uploads/image/profile_picture/image/45/kvarma.jpg",
          "designation_title": "Solutions Architect",
          "department_name": "Engineering",
          "department": {
              "id": 1,
              "name": "Engineering",
              "description": "Test Description"
          },
          "designation": {
              "id": 12,
              "title": "Solutions Architect",
              "responsibilities": "Test Data"
          }
      }
    }
  </pre>

</div>