<div id="sign_out">
  <h4>Sign Out API</h4>
  <p>This API accept username and password and will authenticate the user returning the user information.</p>
  <p>URL: <code>DELETE /api/v1/sign_out</code></p>
  <p>Header: <code>auth_token</code></p>
  <p>Sample Response: <code><%= link_to "Click Here to toggle", "#sign_out", :onclick=>"$('#sr-so').toggle()" %></code></p>
  <pre id='sr-so' style="display: none;">
    {
      "success": true,
      "alert": "You have successfully logged out"
    }
  </pre>

</div>