<% user_color = user.user_type.blank? ? "info" : (user.is_super_admin? ? "danger" : "warning") %>

  <div>
     <%= link_to display_profile_picture(user, 180, 180), user_member_path(user),  :class=>"text-color-blue",:style=>"margin-right:5%;" %>
  </div>
<div>
    <%= link_to user.display_name, user_member_path(user),  :class=>"text-color-blue",:style=>"margin-right:5%;" %>
      <div class="text-color-gray"><%= user.display_designation %></div>
      <div class="cl-20"></div>
</div>



