.profile-pic-name {margin-right: 20px; float: left}
.profile-pic-name SPAN{color: #43a0b7}
.profile-pic-name .img-wrap{width:30px; height: 30px; display: inline-block; vertical-align: middle; margin-right: 10px}
.mask-img-bdr-rounded{overflow: hidden; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; border: 1px solid #d1d1d1; display: inline-block}
.pt-20{padding-top: 20px}
ul.nav.user-menu > li > ul > li.user-avatar.profile-pic img.profile{ border:none}
.btn-orange-outline-a.btn{border-color: #e06319; color: #e06319}