<%# Displays a detailed view of the user %>

<%# Display Flash Message if any only in case of ajax request %>
<% if request.xhr? %>
  <%= render :partial=>"layouts/common/flash_message" %>
<% end %>

<div id="my_profile_panel" class="panel panel-archon mt-10">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="my-profile-title">My Profile</span>
      <span class="pull-right">
      <% if @current_user.user_type != "admin" %>
        <%= link_to "edit", user_edit_path, remote: true -%>
      <% end %>
      </span>
    </h3>
  </div>

  <div class="panel-body clearfix">
    <%= render partial: "show" %>
  </div>
</div>







