<%# Displays a detailed view of the user %>

<%# Display Flash Message if any only in case of ajax request %>
<% if request.xhr? %>
  <%= render :partial=>"layouts/common/flash_message" %>
<% end %>

<div id="div_user_projects">
  <%#= render :partial => "admin/users/projects/index", :locals=>{:user => @user} %>
</div>

<%= render :partial => "widgets/more_details", :locals=>{:data_model => @user, 
											:heading => "My Profile",
                      :edit_link => edit_admin_user_path(@user),
                      :delete_link => admin_user_path(@user),
                  	  :data_columns => [:id, :name, :username, :email, :biography, :phone, :status, :skype, :linkedin, :city, :state, :country, :designation] } %>




