<%# describes about each user %>
<% user_color = user.user_type.blank? ? "info" : (user.is_super_admin? ? "danger" : "warning") %>
<div class="web-stats <%= user_color %> clearfix" style="margin-bottom:5px;padding:5px;height:55px;overflow:hidden;">

   	<div class="visible-md visible-lg pull-left mr-10" style="width:20%;max-height:50px;overflow:hidden;">
      <%= display_profile_picture(user,42,42) %>
   	</div>
   	<div class="pull-left" style="width:75%;">
   		<%= link_to user.display_name, admin_user_path(user), :remote=>true, :class=>"text-color-blue fs-14" %>
		  <div class="text-color-gray fs-12"><%= user.display_designation %></div>
    </div>

</div>


